--extra-index-url https://download.pytorch.org/whl/cu124

numpy==1.26.4; python_version < '3.13'
numpy==2.3.4; python_version >= '3.13'
cupy-cuda13x==13.6.0; python_version <= '3.13'
pillow==11.2.1; python_version < '3.13'
pillow==12.2.0; python_version >= '3.13'
torch>=2.6.0; python_version < '3.13' and platform_machine == "x86_64"
torchvision; python_version < '3.13' and platform_machine == "x86_64"
opencv-python==4.11.0.86
scikit-image==0.25.0; python_version < '3.14'
scipy==1.15.1; python_version < '3.14'
pytest==8.3.4
pytest-xdist>=3.0.0
nose
nose2
pynvml==11.5.3
highdicom>=0.26.1
pylibjpeg>=2.0.0
pylibjpeg-openjpeg>=2.0.0
pylibjpeg-libjpeg>=2.1
pydicom>=3.0.0
cvcuda-cu13
tcia-utils>=1.5.3
# IPython is required by tcia-utils; version constraints ensure compatibility with Python version
ipython>=8.12.0,<8.19; python_version < '3.11'
ipython>=8.19; python_version >= '3.11'
--extra-index-url https://pypi.nvidia.com
nvidia-nvjpeg
nvidia-nvjpeg2k-cu13
nvidia-nvtiff-cu13
nvidia-libnvcomp-cu13
nvidia-cuda-runtime
