--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
cupy-cuda11x==13.1.0
torch==2.3.1+cu118;
opencv-python==4.6.0.66
scikit-image==0.21.0
scipy==1.13.1
pytest==8.2.2
nvidia-pyindex==1.0.9
nvidia-nvjpeg-cu11
nvidia-nvjpeg2k-cu11
nvidia-cuda-runtime-cu11

tensorflow==2.10.1; python_version < '3.11'
