--extra-index-url https://download.pytorch.org/whl/cu121

numpy==1.26.4
cupy-cuda12x==13.1.0
torch==2.3.1+cu121
opencv-python==4.8.1.78
scikit-image==0.24.0
scipy==1.13.1
pytest==8.2.2
pynvml==11.5.3
nvidia-pyindex==1.0.9
nvidia-nvjpeg-cu12
nvidia-nvjpeg2k-cu12
nvidia_nvtiff_cu12
nvidia-nvcomp-cu12
nvidia-cuda-runtime-cu12==12.5.39
