*~
build*/*
docs/sphinx/_build/*
docs/doxygen/xml/*
bin/*
.idea
.vscode
.vimrc
.DS_Store
.*.swp
.dockerignore
nvimgcodec_version.h
*__pycache__*
.venv/
.nvimgcodec_test_venv/
test/python/integration/dicom/.midi_b_data/